.img{
    width:28%;
}
hr{
    width:20%;
    border: 2px solid white;
}
.col-xs-12{
    text-align: center;
}
.navbar{
    margin-bottom: 0;
}
.icona{
    position: relative;
}
.icona i{
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    
    padding-bottom: 50px;
    font-size: 25px;
}
.jumbotron{
    background-color: #00c191;
}
.col-xs-12 h1,p{
    color:white;
}
.icona i{
    color:white;
}
.navbar-default{
    background-color: #3a3657;
    padding: 15px;
}
.navbar-default .navbar-nav>.active>a{
    background-color: transparent;
    color:white;
}
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
    color:white;
}
.navbar-default .navbar-brand {
    color: white;
}
