.img{
    width:28%;
}
hr{
    width:20%;
    border: 2px solid white;
}

.navbar{
    margin-bottom: 0;
}
.separatore{
    position: relative;
}

.jumbotron{
    background-color: #1bbc9b;
    margin-bottom: 0;
}
.container h1{
    color:white;
    font-weight: bold;
}
.separatore i{
    color:white;
}
.navbar-default{
    background-color: #2D3E50;
    padding: 15px;
    font-weight: bold;
}
.navbar-default .navbar-nav>.active>a{
    background-color: transparent;
    color:white;
}
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
    color:white;
}
.navbar-default .navbar-brand {
    color: white;
}
.separatore{
    width: 250px;
    position: relative;

}
.separatore::before,
.separatore::after{
    content: '';
    width: calc((100% - 50px) / 2);
    height: 3px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.separatore::before {
    left:0;
}
.separatore::after{
    right:0;
}
.separatore i{
    font-size: 25px;
}
.container p{
    color:white;
}
.features{
    background-color: blue;
}
.column{
    background-color: blue;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.column{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 25px;
}
.column::after{
    clear: both;
    display: table;
    content: '';
}
.blocchi{
    height: 200px;
    background-color: black;
    border:1px solid white;
}
.features h2 {
    color:white;
    margin: 0;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 10px;
}
.separatore-due{
    width: 250px;
    position: relative;

}
.separatore-due::before,
.separatore-due::after{
    content: '';
    width: calc((100% - 50px) / 2);
    height: 3px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.separatore-due::before {
    left:0;
}
.separatore-due::after{
    right:0;
}
.separatore-due i{
    font-size: 25px;
}
.features i{
    color: white;
}
.prima{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 76%;
    height: auto;

}
